:root{
  /*Colors*/
  --blue: #0B2EC8;
  --black: #2b2b2b;
  --orange: #F26E0A;
  --yellow: #F6CB46;
  --pink: #F1A3C7;
  --green: #277B08;
  --lightBlue:#87D3FB;

  /*Shadow*/
  --box-shadow: 0 3px 15px 0px rgba(68, 68, 68, 0.6);

  /*font size*/
}
*, *::before, *::after{
  box-sizing: border-box;
}
.far{
  display: inline;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
h3, p{
  margin: 0;
  padding: 0;
}

.bottom-border{
  width: 100%;
  border-bottom: 2px solid var(--black);
}
/*BUTTONS*/

button{
  -webkit-appearance: none;
  -moz-appearance: none;
}

/*HTML, BODY,*/
html, body{
  overflow-x:hidden;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  height: 100vh; 
  margin: 0;
  background-color: #fff;
  opacity: 2;
  position: relative;
  z-index: -20;
}
/*Containers/Wraps*/
.container-full{
  width: 100%;
  margin: 0 auto;
}

.container{
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}
/*Header Section*/
.header{
  background-color: #fff;
  grid-area: header;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 10;
  top: 0;
  height: auto;
  padding: 0;
  font-family: futura-pt, sans-serif;
}



/*Display Classes*/
.display-none{
  display: none;
}
.display-flex{
  display: flex;
}
.display-block{
  display: block;
}

.col-row{
  display: flex;
  flex-direction: column;
}


/* NAVIGATION STYLES */
.nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "date date"
  "logo menu";
  padding: 1rem;
}
.nav__logo {
  grid-area: logo;
  color: var(--black);
  align-self: end;
  max-width: 200px;
}
.nav__menu{
  grid-area: menu;
  justify-self: end;
  align-self: center;
  position: relative;
  
} 
.nav__menu--wrap{
  list-style: none;
  position: absolute;
  bottom: 100;
  right: 0;
  margin-right: -20px;
  height: 100vh;
  width: 100vw;
  color: white;
  background-color:var(--blue);
  font-size: 1.25rem;
  text-align: right;
  padding: 30px;
  text-transform: uppercase;
  display: none;
}
  
.nav__hamburger{
  color: var(--black);
  font-size: 2.5em;
  cursor: pointer;  
  background: none;
  border: 0 none;     
}
.nav__hamburger:hover{
  color:var(--orange);
}
.nav__item {
  padding: 1rem 0px;
  display: block;
}
.nav__dropdown{
  flex-direction: column;
  list-style: none;
}

.active{
  color:var(--red);
}
.nav__hours{
  grid-area: date;
  text-align: center;
  color: var(--black);
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: .5em;
  margin-bottom: .5rem;
  
}

/*Category Styles*/
.category{
  margin-bottom: 2.5em;
}
.category__title{
  font-family: futura-pt, sans-serif;
  font-size: 3rem;
  color: var(--blue);
  margin-bottom: .6em;
  padding: 0 1rem;
  
}

/*ADDRESS STYLES*/
address {
  margin:10px 0;
}
address p{
  margin:0;
}

/*MAIN CONTENT STYLES*/
main {
  grid-area: main;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: relative;
  padding:0 0 30px 0;
  width: 100%;
}
.bannerImg{
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 30px;
}
#mainContentWrap{
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.section2content{
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.wrap1{
  margin: auto;
  padding: 30px;
  width: 100%;
}
.wrap1 p, .wrap1 h1, .wrap1 a{
  display: block;
  text-align: center;
  margin: auto;
}
.wrap1 h1{
  font-size: 2rem;
  margin-bottom: 20px;
}

.wrap1 p{
  font-size: 1.6rem;
}
.wrap1 a{
  width: 100px;
  padding: 10px;
  border-radius: 25px;
  text-decoration: none;
  font-family: futura-pt, sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
}
.wrap2{
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  justify-items: left;
}
.specialExhibitWrap{
  max-width: 100%;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  justify-items: left;
}
.visitWrap{
  max-width: 100%;
  padding: 0 20px;
}
.visitWrap h2, .wrap2 h2{
  margin: 8px 0 8px 0;
}
.visitWrap p, .wrap2 p, .exhibitWrap p{
  margin: 10px 0;
}
.wrap3{
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: var(--box-shadow);
}
.wrap4{
  padding: 20px;
  margin: 20px 0 5px 0px;
  border-radius: 6px;
  
}
.headingWrap {
  padding: 0;
  position: relative;
  z-index:-10;
  margin: 20px 0;
  font-size: 2em;
}
.headingWrapBlue{
  padding:30px 20px;
  background-color: var(--blue);
  margin: auto;
  height:90px;
  text-align: left;
  position: relative;
  width: 100%;
  max-width: 800px;
}
.headingWrapBlue::before, .headingWrapBlue::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right:100%;
  width: 9600px;
  background-color: var(--blue);
}

.headingWrapBlue::after{
  left: 100%;
 
}

address{
  margin: 0;
}
.date{
  font-family: futura-pt, sans-serif;
  font-size: 1em;
  margin:20px 0;
  padding:5px 0;
}
.date li {
  list-style: none;
  font-size: 1.2em;
}
.img1{
  max-width: 600px;
  height: auto;
}

.hero {
  background-color: var(--black);
  height: 600px;
  margin: auto auto 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  position: relative;
  z-index: -10;
}
.hero__content {
  font-style: normal;
  color: white;
  padding: 0;
  text-shadow: 2px 2px 4px var(--black);
 
}
.hero__title {
  font-weight: 700;
  font-size: 4rem;
  
}
.hero__text{
  font-size: 3rem;
  font-weight: 400;
}
.hero__title--span{
  display: block;
}

.exhibitWrap{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 20px 0px;
}
.exhibitWrapEnd {
  border-bottom: none;
}
.exhibitImg{
  width: 100%;
  margin-bottom: 10px;
  box-shadow: var(--box-shadow);

}


/*LIST STYLES*/

.hours {
  list-style-type: none;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  padding: 0;
  margin: 0 0 5px 0;
}

.wrap1 h2{
  font-size: 1.2;
  font-weight: 300;
  text-align: center;
}
.pBold {
  font-weight: 800;
}
.pMargin {
  margin-top: 8px;

}
.exHeading {
  font-family: futura-pt, sans-serif;
  color: var(--blue);
  margin-bottom: 0px;
  padding: 0;
}
.exDate {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: var(--blue);
  margin-bottom: 20px;
  text-transform: uppercase;
}

/*TEXT COLORS & BACKGROUND COLORS*/
.white {
  color:#fff;
}
.lightBlue {
  color: var(--lightBlue);
}
.darkBlue {
  color: var(--blue);
}
.orange {
  color: var(--orange);
}
.pink {
  color: var(--pink);
}
.red{
  color: #FE042A;
}
.yellow{
  color: var(--yellow);
}

.green{
  color: var(--green);
}

/*BACKGROUND COLORS*/

.background-pink{
  background-color: var(--pink);
}
.background-red{
  background-color: #FE042A;
}
.background-d-blue{
  background-color:var(--blue);
}
.background-l-blue{
  background-color:var(--lightBlue);
}
.background-orange {
  background-color:var(--orange);
}
.background-yellow {
  background-color:var(--yellow);
}


/*BUTTON STYLES*/

.button {
  border-radius: 50px;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: .04em;
  text-align: center;
  cursor: pointer;
  padding: 1em;
}


/*CARD*/

.card--background-dark{
background-color: var(--black);
}
.card--md{
  max-width: 400px;
}
.card{
  width: 100%;
  height: auto;
  margin: 2em auto;
}
.card__image{
  width: 100%;
  display: block;
  object-fit: cover;
object-position: 50%;
}
.card__image--round{
border-radius: 50%;
width: 300px;
height: 300px;

margin: 2em auto 0 auto;
}

.card__content{
  padding: 0;
  margin: 0;
  
}
.card__content--center{
  text-align: center;
}
.card__title{
  font-size: 3.5rem;
  font-family: futura-pt, sans-serif;
  font-weight: 100;
  padding: 0;
}

.card__date{
  font-size: 1rem;
  letter-spacing: .1em;
  font-family: futura-pt, sans-serif;
  text-transform: uppercase;
}

.card__text{
  font-size: 2rem;
  font-family: mr-eaves-xl-modern, sans-serif;
  margin: 1em 0;
}
.card__button{
color: var(--black);
background-color: white;
margin: 3em 0;
}

/*FOOTER STYLES*/

footer {
  text-align: center;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  grid-area: footer;
  background-color: #fff;
}
footer p {
  margin: 0px;
}

#footer-logo {
  display: block;
  margin: 0;
  
}

#footer-logo-img {
  max-width: 300px;
}
.footer-subscribe {
  background-color: var(--lightBlue);
  padding: 10px 10px 30px 10px;
  margin:0 auto 20px auto;
  height: auto;
  display: flex;
}
.footer-subscribe label{
  color: var(--blue);
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}
.footerForm{
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 600px;
  display: inline-block;
  justify-self: center;
}
.form-in { 
  border-radius: 6px 0 0 6px;
  padding: 12px;
  border: none;
  -webkit-appearance: none;
  width: 60%;
  margin: 10px 0 0 0;
  height: 100%;
}
.subscribeButton {
  width: auto;
  font-weight: 500;
  height: 100%;
  padding: 12px;
  border-radius: 0 6px 6px 0;
  border: none;
  margin: -6px;
  background-color: var(--blue);
  color: #fff;
  text-transform: uppercase;
}
.subscribeButton:hover{
  background-color: var(--orange);
}
.subscribeError{
  display: none;
  color: var(--black);
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px;
  font-size: 1.2rem;
}
.icon-wrap {
  padding: 8px 0;
  border-top: 2px solid var(--yellow);
  border-bottom: 2px solid var(--yellow);
  display: flex;
  justify-content: space-evenly;
  margin: 5px auto 10px auto;
}
.icons {
  font-size: 2em;
  color: var(--blue);
  margin: 0 5px;
}
.icons:hover{
  color: var(--lightBlue);
}
.footer-black {
  background-color: var(--black);
  padding: 10px;
  margin-top: 15px;
}
.footer-black p{
   color: #fff;
   font-size: 1em;
}

/****** MEDIA STYLES *******/

@media screen and (min-width: 600px) {
.container{
  max-width: 1200px;
}
.wrap1 h2{
  max-width: 70%;
}
}

@media screen and (min-width: 960px) {
  .col-row{
    flex-direction: row;
  }
  /* NAVIGATION STYLES */

.header {
 
  padding: 20px 10px;
}
.nav__hamburger{
  display: none;
}
.nav{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "logo date"
  "logo menu";
  padding: 0px;
}
.nav__logo {
  grid-area: logo;
  color: var(--black);
  align-self: end;
  max-width: 300px;
}
.nav__menu{
  grid-area: menu;
  justify-self: end;
  align-self: end;
  position: relative;
  width: auto;
  
  
} 
.nav__menu--wrap{
  display: flex;
  background-color: white;
  height: auto;
  width: auto;
  position: relative;
  padding: 0;
  margin: 0;
} 

.nav__item {
  padding: 0px;
  margin-left: 30px;
  position: relative;
}
.nav__link{
  padding: 0;
}
.nav__dropdown{
  position: absolute;
  left: 0;
  top: 100;
  z-index: 1000;
  background-color: #fff;
  width: auto;
  margin: 0;
  padding: 0 ;
  box-shadow: var(--box-shadow);
}
.nav__item--dropdown{
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  display: none;
  
}
.nav__item--dropdown:hover{
  background-color: var(--black);
}
.nav__item--dropdown:hover .nav__link--dropdown{
  color: white;
  
  
}
.nav__item, .nav__link, .nav__item--dropdown, .nav__link--dropdown{
  color:var(--black);
}
.nav__item:hover, .nav__link:hover{
  color: var(--blue);
}

.nav__hours{
justify-self: end;
align-self: end;
width: auto;
border: 0 none;
color: var(--orange);
}

.category__title{
  padding: 0;
  
}
.card{
  padding-bottom: 2em;
}
.card__content{
  padding: 0 1.25em;
}
.card__title{
  padding: 0;
  margin: 0;
}
.card__image{
max-width: 400px;
}
main{
  align-items: unset;
}
h1{
  font-size: 2em;
}
.subContent{
  height: auto;
  min-width: 160px;
  padding: 10px;
  margin:0; 
  position: absolute;
  background-color: #fff;
  border: 1px solid var(--blue);
  z-index: 30;
  border-radius: 6px;
}
.subContent a {
  color: var(--blue);
}
.subContent a:hover{
  color: var(--orange);
}
.dropdown:hover .subContent {
  display: flex;
}
.dropdown li {
  margin-left: 0;
  padding: 10px;
}
.headingWrapBlue{
  padding:30px 40px;
}
.wrap {
  display: flex;
  justify-content: space-between;
}
.wrap1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  border-radius: 25px;
}
.wrap1 h2{
  max-width: 70%;
}
.wrap2{
  padding: 0 40px;
}
.visitWrap{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas: 
  "top top"
  "left right";
  margin: 0 40px;
}

.figure-wrap{
  display: flex;
  justify-content: space-between;
  
}
.visitWrapTop{
  grid-area: top;
}

.wrap4{
  grid-area: right;
}
.wrap5{
  grid-area: left;
}
.exhibitWrap {
  padding:20px 40px;
}
.specialExhibitWrap {
  padding: 0 40px 40px 40px;
}
}

@media screen and (min-width: 1600px) {
  
.wrap3{
  max-width: 32%;
}

}












































































































































































































































































































































































































































































































